body {

}

header {

}

aside{

}

footer{
  padding: 10px;
  background-color: #ffa500;
}

.menu-opcoes{

}

.social{
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;

}

.carrinho{

}

.container{

}

.col-1{

}

.busca{

}

.menu-categorias{

}

.col-2{

}

.lista-produtos{

}

.produto{

}

.preco{

}

.col-3{

}



}

. {

}

. {

}

. {

}
